body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  margin-top: 2em;
  line-height: 1.5;
}
h1 {
  border-bottom: 1px solid #aaa;
}
.login-content .box {
  max-width: 32em;
  margin: auto;
}
#ocf-logo {
  width: 6rem;
}
button {
  margin-top: 0.3em;
  position: relative;
  font-size: 1em;
  display: inline-block;
  padding: 0.1em 0.65em 0.2em;
  background: #fff;
  border-radius: 0.35em;
  border: 0.5px solid #ccc;
  border-bottom: 0.5px solid #bbb;
  box-shadow: 0 0.5px 1px #ccc, 0 -0.5px 1px #eee;
  text-decoration: none;
  cursor: pointer;
}
button:active {
  background: linear-gradient(#59f, #25d);
  border: 0.5px solid #36e;
}
input,
textarea,
select {
  font-size: 1em;
}
input {
  flex-grow: 1;
}
label {
  display: flex;
  align-items: center;
  font-weight: 500;
}
label input {
  margin-left: 0.3em;
}
